@mixin footer {
  display: flex;
  margin: 0 auto;
  background-color: #4c394e;
  width: 100%;
  height: 88px;
}

@mixin container-footer {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
  width: 1296px;
}

@mixin footer-text {
  color: var(--white, #f8fdfe);
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
