@mixin main-card {
  margin-top: 24px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 20px;
  padding: 23px 0 130px;
}

@mixin product-card {
  border: 1px solid #8e8e8e;
  background: white;
  padding: 32px;
  height: 425px;

  height: auto;
  display: flex;
  flex-direction: column;
}

@mixin image-item {
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 16px;
  width: 178px;
  height: 280px;
}

@mixin text-item__header {
  display: block;
  border-bottom: 1px solid #8e8e8e;
  text-decoration: none;
  width: 241px;
  height: 31px;
  overflow: hidden;
  color: #1f1f1f;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin text-item__after {
  overflow: hidden;
  color: #8e8e8e;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

@mixin price {
  color: #e90000;
  font-family: Cabin;
  font-size: 24px;
  font-style: normal;

  margin-top: auto;

  font-weight: 500;
  line-height: 32px;
}

@mixin discount {
  color: var(--gray, #8e8e8e);
  font-family: Cabin;
  font-size: 24px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.2); /* Прозрачная линия */
}

@mixin products-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4c394e;
  width: 242px;
  height: 40px;
  border: none;
  margin-top: 10px;
  color: white;
  text-decoration: none;

  color: var(--white, #f8fdfe);
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin products-button__end {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  background: #4d762d;
  width: 242px;
  height: 40px;
  border: none;
  margin-top: 10px;
  color: white;

  color: var(--white, #f8fdfe);
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@mixin hit-badge {
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  background: #4200ff;
  width: 20px;
  height: 24px;
  padding: 4px 8px;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@mixin new-badge {
  display: block;
  position: absolute;
  border-radius: 4px;
  background: #af39e7;
  width: 31px;
  height: 24px;
  padding: 4px 8px;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@mixin discount-badge {
  display: block;
  position: absolute;

  margin-left: 40px;
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #ea33c0;
}

@mixin button-mess {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 83%;
  right: 30px;
  width: 64px;
  height: 64px;
  background-color: #10bbd5;
  border-radius: 500px;
  border: none;
}
