@import "mixin";
@import "mainphoto";
@import "footer";

// @media screen and (min-width: 1400px) and (max-width: 1400px) {
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: var(--beige, #eeeeef);
}

main {
  flex: 1 1 auto;
  padding-top: 107px;
}

.blue-header {
  margin: 0 auto;
  width: 100%;
  z-index: 4000;
  top: 0;
  height: 72px;
  position: fixed;
  background: #10bbd5;

  .container {
    @include container-center;

    .container-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 21px;

      .container-price {
        display: flex;
      }

      .wheels {
        margin-left: 7px;
      }

      .header-button {
        display: flex;
        flex-direction: column;
        background: none;
        margin-top: -5px;
        margin-left: 11px;
        border: none;
      }

      .zero {
        position: absolute;
        margin-left: 76px;
      }

      a {
        color: #f8fdfe;
        display: flex;
        gap: 4px;
        font-family: Cabin;
        text-decoration: none;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .price {
        color: #f8fdfe;
        display: flex;
        font-family: Cabin;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }
  }
}

.white-header {
  margin: 0 auto;
  width: 100%;
  height: 32px;
  z-index: 3000;
  padding-top: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;

  .container-white__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    @include container-center;

    .menu-item {
      color: #000;
      font-family: Cabin;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }

    .nav-list {
      list-style: none;
      display: flex;
      gap: 40px;
      a {
        text-decoration: none;
      }
    }
  }
}

main {
  .container {
    @include container-center;
    h1 {
      color: #1f1f1f;
      font-family: Cabin;
      font-size: 32px;
      margin-top: 32px;
      border-bottom: 1px solid #a8a8a8;
      padding: 0 0 23px 0;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 125% */
    }

    .main-card {
      @include main-card;
      .product-card {
        @include product-card;
        .image-item {
          @include image-item;

          .image-item img {
            width: 178px;
            height: 280px;
            align-items: center;
          }
        }
      }

      .text-item__header {
        @include text-item__header;
      }

      .text-item__after {
        @include text-item__after;
      }

      .price {
        @include price;
      }

      .products-button {
        @include products-button;
      }

      .products-button__end {
        @include products-button__end;
      }

      .discount {
        @include discount;
      }

      .hit-badge {
        @include hit-badge;
      }
      .new-badge {
        @include new-badge;
      }

      .discount-badge {
        @include discount-badge;
      }
    }
  }
}

.button-mess {
  @include button-mess;
}

footer {
  @include footer;
  .container {
    @include container-center;

    .container-footer {
      @include container-footer;
    }
    .footer-text {
      @include footer-text;
    }
  }
}
// }
